*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.buttons{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 168px;
}
.btn-01{
    padding: 10px 25px;
    border: 2px solid black;
    color: black;
    text-align: center;
}
.btn-01:hover{
    color: white;
    background-color: black;
}
.btn-02{
    background-color: aquamarine;
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    text-align: center;
    font-weight: 700;
}
.btn-02:hover{
    background: cyan;
}
.btn-03{
    background-color: rgb(142, 233, 142);
    color: black;
    padding: 15px 30px;
    text-align: center;
    font-weight: 700;
    border-radius: 15px;
}
.btn-03:hover{
    background-color: green;
}
.btn-04{
    background-color: rgb(228, 60, 111);
    color: white;
    padding: 15px 45px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
}
.btn-04:hover{
    background-color: white;
    color: mediumvioletred;
    border: 1px solid mediumvioletred;
}
.btn-05{
    color: red;
    border: 1px solid red;
    padding: 10px 35px;
    text-align:center;
    font-weight: 700;
    border-radius: 30px;
}
.btn-05:hover{
    color: white;
    background-color: red;
}
.btn-06{
    color: black;
    border: 1px solid black;
    padding: 10px 45px;
    text-align:center;
    font-weight: 700;
    border-radius: 5px;
    border-bottom: 3px solid black;
}
.btn-06:hover{
    color: white;
    background-color: gray;
}
.btn-07{
    padding: 10px 30px;
    color: black;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid black;
}
.btn-07:hover{
    color: gray;
    border-bottom: 2px solid gray;
}
.btn-08{
    background-color: rgb(241, 204, 83);
    border: 1px solid black;
    padding: 10px 35px;
    text-align: center;
    font-weight: 700;
    color: black;
    border-left: 3px solid black;
    border-radius: 5px;
}
.btn-08:hover{
    background-color: white;
    border-color: rgb(241, 204, 83);
}
.btn-09{
    background-color: chartreuse;
    color: green;
    font-weight: 700;
    text-align: center;
    padding: 10px 45px;
    border: 1px solid green;
    border-radius: 30px 0px;
}
.btn-09:hover{
    background-color: green;
    color: chartreuse;
}
.btn-10{
    background-color: white;
    color: blueviolet;
    font-weight: 700;
    text-align: center;
    padding: 10px 45px;
    border: 1px dashed blueviolet;
    border-radius: 15px;
    
}
.btn-10:hover{
    background-color: blueviolet;
    color: white;
}

