*{
    line-height: 5px;
}
#cartao{
    background-color: #353535;
    width: 260px;
    padding: 18px;
    border-radius: 15px;
    padding-bottom: 1px;
}
.first{
    color: cyan;
    font-weight: 1;
}
.second{
    color: aliceblue;
    font-weight: 1;
    font-size: 12px;
}