#first{
    background-color: red;
    text-align: center; 
    margin: 20px 15px 10px 100px; 
}
#second{
    text-align: center;
    margin: 20px 15px 10px 65px; 
}
#third{
    text-align: center;
    margin: 20px 15px 10px 105px; 
}