* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 0 auto;
}


.card {
  width: 300px;
  padding: 20px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}

.card_img {
  border: 1px solid #DBDBDB;
  border-radius: 7px;
}
.botao_compra {
    background-color: #00C200;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border: 1.5px solid #00C200;
    margin-left: 60px;
    margin-right: 60px;
}
.botao_compra:hover {
    background-color: transparent;
    border: 1.5px solid #00C200;    
    color: #00C200;
}
.links{
    font-size: small;
    margin: 0px 575px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 168px;
    align-items: end;
}
.link{
    text-decoration: none;
    color: #00C200;
    border: 1px solid #00C200;
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
}
.link:hover{
    background-color: #00C200;
    border: 1px solid white;
    color: white;
}
.link-01{
    background-color: #00C200;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
}
.link-01:hover{
    background-color: white;
    border: 1px solid #00C200;
    color: #00C200;
}